footer nav {
   height: 150px;
}

body{
   /*background-image: url('img/utilities/fondo.png') !important; 
   background-size: cover;  
   background-repeat: no-repeat; 
   background-position: center center; */
   background-image: url("../img/utilities/fondo.png") !important;
   /*background-color: aqua !important;*/
}

body{text-align:center;}
.box{width:200px; height:50px; background: #ccc; margin: 0 auto; text-align:center; line-height:50px;}
.fadeInUp{animation:fadeInUp 1s ease backwards;}
@keyframes fadeInUp{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

#educational-1 .custom-font {
   color: red;
}
#educational-2 .custom-font {
   color: blue; 
}

#artistic-1 .custom-font {
   color: green;
}
#artistic-2 .custom-font {
   color: violet; 
}








